html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
        Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

.screen {
    background-color: cadetblue;
}

.grid {
    width: 500px;
    height: 500px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 8px;
}

/*
    PX to REM (base calc)

    const size = 14
    const baseSize = 16

    rem = size / baseSize

    pxToRem: size => `${(size / baseSize)rem`,
 */

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 48px;
}

.open {
    background-color: green;
}

.fail {
    background-color: red;
}

.done {
    background-color: orange;
}

.close {
    background-color: gray;
}

.unknown {
    background-color: black;
}
